<div>
    <div class="col-md-6">
        <h2>Bills</h2>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Default
                        </a>
                        <span class="badge badge-default badge-pill" style="float: right">66354,5</span>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between">
                                <a>Main</a>
                                <span class="badge badge-default badge-pill">0</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>MoneyBox</a>
                                <span class="badge badge-default badge-pill">9924.5</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Emergency</a>
                                <span class="badge badge-default badge-pill">50000</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Office
                        </a>
                        <span class="badge badge-default badge-pill" style="float: right">4075.5</span>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between">
                                <a>Occupancy</a>
                                <span class="badge badge-default badge-pill">3000</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Utilities</a>
                                <span class="badge badge-default badge-pill">450</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Stuff</a>
                                <span class="badge badge-default badge-pill">625.5</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Employees
                        </a>
                        <span class="badge badge-default badge-pill" style="float: right">56000</span>
                    </h4>

                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between">
                                <a>Malcolm Reynolds</a>
                                <span class="badge badge-default badge-pill">9000</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Zoy Washburne</a>
                                <span class="badge badge-default badge-pill">7500</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Hoban Washburne</a>
                                <span class="badge badge-default badge-pill">7500</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Inara Serra</a>
                                <span class="badge badge-default badge-pill">8000</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Jayne Cobb</a>
                                <span class="badge badge-default badge-pill">6000</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Kaylee Frye</a>
                                <span class="badge badge-default badge-pill">6000</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Simon Tam</a>
                                <span class="badge badge-default badge-pill">4500</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>River Tam</a>
                                <span class="badge badge-default badge-pill">3000</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Derrial Book</a>
                                <span class="badge badge-default badge-pill">4500</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <chart [options]="colOptions"></chart>
        </div>
        <div class="col-md-4">
            <chart [options]="pieGroupOptions"></chart>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <chart [options]="pieOptions"></chart>
        </div>
    </div>
</div>