<div class="col-md-12">
    <h3>{{header}}</h3>
    <div class="col-md-6">
        <div>
            <div>
                <label for="name">Name</label>
                <input type="text" [disabled]="isViewMode" class="form-control" id="name" [(ngModel)]="model.name" required />
            </div>
            <br>
            <div *ngIf="isCreateMode">
                <button [disabled]="loading" class="btn btn-primary" (click)="create()">Create</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
            <div *ngIf="isViewMode">
                <button [disabled]="loading" class="btn btn-primary" (click)="toEditMode()">Edit</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>

            <div *ngIf="isEditMode">
                <button [disabled]="loading" class="btn btn-primary" (click)="save()">Save</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </div>
        <div *ngIf="!isCreateMode">
            <h3>Members</h3>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for user">
                <span class="input-group-btn">
                    <button class="btn btn-default glyphicon glyphicon-plus" type="button"></button>
                </span>
            </div>
            <br/>
            <div class="list-group">
                <a *ngFor="let object of userList" class="list-group-item " style="max-width: 400px">{{object.name}}<span class="glyphicon glyphicon-remove" style="float: right; color: red"></span></a>
                <a class="list-group-item " style="max-width: 400px">Amanda Raymond<span class="glyphicon glyphicon-remove" style="float: right; color: red"></span></a>
            </div>
        </div>
    </div>
    <div class="col-md-6" *ngIf="!isCreateMode">
        <div class="col-md-6"></div>
        <div>
            <h2>
                Bills
                <span class="glyphicon glyphicon-plus" style="color: green"></span>
            </h2>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Default
                        </a>
                        <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                        <span class="glyphicon glyphicon-plus" style="color: green" data-toggle="modal" data-target="#exampleModal"></span>

                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between">
                                <a>Main</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>MoneyBox</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Emergency</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Office
                        </a>
                        <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                        <span class="glyphicon glyphicon-plus" style="color: green"></span>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between">
                                <a>Occupancy</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Utilities</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Stuff</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Employees
                        </a>
                        <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                        <span class="glyphicon glyphicon-plus" style=" color: green"></span>
                    </h4>

                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between">
                                <a>Malcolm Reynolds</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Zoy Washburne</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Hoban Washburne</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Inara Serra</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Jayne Cobb</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Kaylee Frye</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Simon Tam</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>River Tam</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <a>Derrial Book</a>
                                <span class="glyphicon glyphicon-remove" style="float: right; color: red"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New bill</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="namea">Name</label>
                    <input type="text"  class="form-control" id="namea" required />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

</div>
